Flask==3.0.3
Werkzeug==3.0.3
flask-cors
mysql-connector-python
authlib
requests
numpy
openai
groq
anthropic
google-auth-oauthlib
google-api-python-client
google-generativeai
python-dotenv
waitress
aiohttp
altair
beautifulsoup4
botbuilder-core
dnspython
faiss-cpu
httpx
mcp
openpyxl
pandas
protobuf
pydantic
PyJWT
pypdf
pytest
python-docx
sentence-transformers
streamlit
unstructured
yfinance       